html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#map-container {
  flex: 1;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
}

#tabs {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #f7f7f7; /* Colore di sfondo chiaro (come iOS) */
  border-bottom: 2px solid #dcdcdc; /* Linea sottile sotto i tab */
  position: relative;
  z-index: 10; /* Assicura che la barra dei tab sia sopra la mappa */
}

#tabs button {
  background: none; /* Nessun sfondo */
  color: #007aff; /* Colore blu Apple per il testo */
  font-size: 16px; /* Dimensione del testo */
  padding: 10px 20px; /* Spaziatura del pulsante */
  border: none; /* Nessun bordo */
  border-radius: 10px 10px 0 0; /* Bordo arrotondato in alto */
  cursor: pointer; /* Mano al passaggio sopra */
  transition: background-color 0.3s, transform 0.3s; /* Animazione per i cambiamenti */
}

#tabs button:hover {
  background-color: #e1e1e1; /* Colore di sfondo quando il mouse passa sopra */
}

#tabs button:active {
  background-color: #d1d1d6; /* Colore di sfondo quando il tab è premuto */
}

#tabs button.selected {
  color: white; /* Colore del testo del tab selezionato */
  background-color: #007aff; /* Colore blu Apple del tab selezionato */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra per dare profondità */
}

#content {
  padding: 1rem;
  overflow-y: auto;
  max-height: 40vh; /* o meno, se preferisci */
}

#searchInput {
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#btnHome {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 50%; /* Tondo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#btnHome img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Tondo */
  object-fit: cover; /* Adatta l'immagine dentro il cerchio */
}

/* Media Query per dispositivi mobili */
@media (max-width: 768px) {
  #tabs {
    flex-direction: column; /* Disporre i tab in colonna su schermi più piccoli */
    align-items: center; /* Centrato orizzontalmente */
    padding: 20px 0; /* Maggiore spazio attorno ai bottoni */
  }

  #tabs button {
    font-size: 14px; /* Ridurre la dimensione del testo */
    padding: 12px 30px; /* Maggiore spazio per i bottoni */
    margin-bottom: 10px; /* Distanza tra i bottoni */
    width: 80%; /* Rendi i bottoni più larghi */
  }

  #map-container {
    height: 60%; /* Riduci l'altezza della mappa per lasciare spazio ai tab */
  }

  #searchInput {
    width: 90%; /* Rendi la barra di ricerca un po' più larga su schermi piccoli */
  }
}
